* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

textarea {
  resize: none;
}

* {
  font-family: 'Raleway', sans-serif;
}

#reactivos {
  display: flex;
  overflow: auto;
  width: 90%;
  max-height: 75vh;
  margin-top: 50px;
  margin: 40px auto;
  background: white;

}

iframe {
  background: white;
}

th,
tr {
  font-size: .9rem;
  border: 1px 0 solid;
}

td {
  border: 0 0 1px solid;
}

.cuestionario {
  text-align: center;
  border-width: 1px thin;
  color: white;
}

.container {
  width: 99vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-content: space-between
}

/* .form{
    width: 40%;
    background: white;
    color: black;
    box-shadow: 9px 10px rgba(0,0,0,.15);
    padding-left: 20px;
} */

.frame {
  width: 50%;
}


html {
  background-attachment: fixed;
   background-image: linear-gradient(to left bottom, #b19faa, #a895a7, #9d8da4, #8e85a3, #7d7ea1, #7885a7, #748cab, #7193ad, #86a7b7, #a0bbc1, #bdcece, #dbe0df);
}

table {
  text-align: left;
  position: relative;
  border-collapse: collapse; 
}

table.tablas {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

table.tablas td,
table.tablas th {
  border: 0px solid #AAAAAA;
  padding: 3px 2px;
}

table.tablas tbody td {
  font-size: 11px;
}

table.tablas tr:nth-child(even) {
  background: #D0E4F5;
}

table.tablas thead {
  /* background: rgba(41, 41, 41, 0.658); */
  border-bottom: 2px solid #444444;
}

table.tablas thead th {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 2px solid #D0E4F5;
}

table.tablas thead th:first-child {
  border-left: none;
}

table.tablas tfoot td {
  font-size: 14px;
}

table.tablas tfoot .links {
  text-align: right;
}

table.tablas tfoot .links a {
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

th {
  position: sticky;
  top: 0;
  background: rgba(41, 41, 41, 0.658);
}